<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}InstaCheck{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">

        <div class="language-switch">
            <a href="/?lang=es">ES</a> | <a href="/?lang=en">EN</a>
        </div>

        <h1>InstaCheck 🧐</h1>

        {% block content %}{% endblock %}

    </div>

</body>
</html>